<h2>Estudantes</h2>

<div>
  <label for="new-estudantes">Nome do Estudante: </label>
  <input id="new-estudantes" #estudantesNome />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(estudantesNome.value); estudantesNome.value=''">
    Adicionar Estudante
  </button>
</div>

<ul class="estudantes">
  <li *ngFor="let estudantes of estudantes">
    <a routerLink="/detalhe/{{estudantes.id}}">
      <span class="badge">{{estudantes.id}}</span> {{estudantes.nome}}
    </a>
    <button class="delete" title="delete estudantes"
      (click)="delete(estudantes)">x</button>
  </li>
</ul>